@media screen and (min-width: 769px) and (max-width: 1199px) {
    .signup-form{
        /* border: 2px solid red; */
        width: 50%;
        text-align: center;
        margin: 0 auto;
        background-color: white;
        padding-bottom: 20px;
        padding-top: 15px;
        margin-top: 10px;
    }
    
    .signup-form > h2{
        margin-top: 20px;
        margin-bottom: 30px;
        font-family: 'Bungee Inline', cursive;
    }
    
    .signup-form > form > input{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        
    }
    
    .signup-form h6{
        margin-top: 10px;
    }
    
    .submit-button{
        font-family: 'Bungee Inline', cursive;
        color: white;
        background-color: black;
        width: 188.67px;
        border: 0;
    }
}