@media only screen and (max-width: 768px) {
    nav{
        background-color: white;
        
    }
    
    nav a{
        color: black;
        font-family: 'Bungee Inline', cursive;
        transition: 0.4s;
    }
    
    nav .navbar-brand{
        font-size: 32px;
    }

    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        margin-right: 60px;
    }

    .navbar-nav li{
        margin: auto;
        font-size: 13px;
        margin-right: 10px;
    }
    
    nav a:hover{
        color: rgb(170, 170, 170);
    }
    
    /******* SEARCH ENGINE  *********/
    .search-engine{
        margin-top: 36px;
        margin-right: 2%;
        margin-left: 2%;
        width: 96%;
    }
    
    .search-engine > form{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: all 1s;
        width: 100%;
        height: 50px;
        background: white;
        box-sizing: border-box;
        border-radius: 25px;
        border: 4px solid black;
        padding: 5px;
    }
    
    .search-engine input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        display: none;
        font-size: 1em;
        border-radius: 20px;
        padding: 0 20px;
    }
    
    .fa{
        box-sizing: border-box;
        padding: 10px;
        width: 42.5px;
        height: 42.5px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        color: black;
        text-align: center;
        font-size: 1.2em;
        transition: all 1s;
    }
    
    .search-engine > form:hover{
        width: 100%;
        cursor: pointer;
    }
    
    .search-engine > form:hover input{
        display: block;
    }
    
    .search-engine > form:hover .fa{
        background: white;
        color: black;
    }
    /* ************************ */
    
    /************** CAROUSEL BUT WITH ONLY CAROUSEL TEXT  ****************/
    
    .slide-show{
        margin-top: 0px;

    }

    .carousel-text-information{
        float: none;
        padding-top: 15px;
        margin-top: 0px; 
        margin-right: 0%; /* -85px margin right to get to the right as much as possible */
        background-color: white;
        width: 100%;
        height: 300px;
    }
    
    .carousel-text-information h3{
        text-align: center;
        font-family: 'Rajdhani', sans-serif;
        margin-top: 70px;
        font-size: 15px;
        text-transform: uppercase;
    }
    
    .carousel-text-information h3 span{
        color: #c4a078;
    }
    
    .carousel-text-information h2{
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    .carousel-text-information p{
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
    /*****************  ********************/
    /******* LISTS UNDER CAROUSEL **********/

    .lists-of-news{
        border: 2px solid black;
    }
    
    .image-boxes{
        display: flex;
        clear: both;
        list-style: none;
        padding: 0px;
        margin: 0;
        /* border: 2px solid black; */
    }
    
    .image-boxes > a{
        /* border: 2px solid red; */
        padding: 0px; 
        width: 48%;
        margin: 30px 1% 10px 1%;
        background-color: white;
    }
    
    .image-boxes > a > li > img{
        width: 100%;
    }
    
    .image-boxes > a > li > h3{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 15px;
        margin-top: 10px;
        color: #c4a078;
        text-align: center;
    }
    
    .image-boxes > a > li > p{
        /* font-family: 'Roboto Condensed', sans-serif; */
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 15px;
        width: 94%;
        padding: 0 10% 1% 10%;
    }

    a{
        color: black;
    }
    
    a:hover{
        color: grey;
    }

    /* TREND SONGS */

.trending-songs{
    background-color: white;
}

.trend-title{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 1.2em;
}

.trending-songs ul{
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 30px;
}

.trending-songs ul li{
    list-style: none;
    margin-top: 20px;
    box-shadow: grey 0px 0.5px 1.5px;
}
.trending-songs ul img{
    width: 18%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.trending-songs ul li p{
    display: inline-block;
    width: 78%;
    height: 100%;
    padding-left: 3%;
    padding-right: 0%;
}

.trending-songs ul .trend-artist{
    color: #c4a078;
    float: right;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    margin-top: 15px;
}

.trending-songs ul .trend-song-title{
    font-size: 25px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.trend-song-content{
    float: left;
}
    }

    /* FOR TRENDS IN 500PX - 340 PX */
@media only screen and (max-width: 500px) {
/******* LISTS UNDER CAROUSEL **********/

.image-boxes-carousel > a{
    display: none;
}


/* TREND SONGS */

.trending-songs{
    background-color: white;
    margin-top: 10px;
}

.trend-title{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 25px;
    font-size: 20px;
}

.trending-songs ul{
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 30px;
}

.trending-songs ul li{
    list-style: none;
    margin-top: 20px;
    box-shadow: grey 0px 0.2px 0.7px ;
}
.trending-songs ul img{
    width: 60%;
    height: 100%;
    display: block;
    margin: 0 auto;
    vertical-align: top;
}

.trending-songs ul li p{
    display: inline-block;
    width: 92%;
    height: 100%;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 2%;
}

.trending-songs ul .trend-artist{
    color: #c4a078;
    float: right;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    margin-top: 9px;
}

.trending-songs ul .trend-song-title{
    font-size: 25px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.trend-song-content{
    float: left;
}
}