@media only screen and (max-width: 768px) {
/* ARTICLE STRUCTURE */

.main-content{
    /* border: 2px solid black; */
    margin-top: 0%;
}

.article-container{
    display: inline-block;
    /* border: 2px solid red; */
    background-color: white;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.article-container img{
    width: 100%;
}

.article-container h3{
    padding-left: 4%;
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 0;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    color: #c4a078;
}

.article-container h2{
    text-transform: uppercase;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 9px;
    font-family: 'Roboto Condensed', sans-serif;
}

.article-container p{
    padding-left: 4%;
    padding-right: 6%;
    line-height: 180%;
}

/* ***************** */
/* RELATED ARTICLES TO THE RIGHT SIDE */

.related-articles{
    font-family: 'Roboto Condensed', sans-serif;
    /* border: 2px solid lawngreen; */
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.related-articles .row{
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0px;
}
.related-articles .title-article{
    font-size: 90%;
    padding-left: 13%;
    padding-right: 8%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgb(196, 196, 196);
}

.related-articles h5{
    float: right;
    padding-right: 4%;
    margin-bottom: 0px;
    margin-top: -15px;
    font-size: 13px;
    font-family: 'Rajdhani', sans-serif;
    color: rgb(165, 165, 165);

}

.related-articles .title-related{
    text-align: center;
    font-size: 23px;
    padding-top: 7%;
    color: rgb(196, 196, 196);
}

.related-articles ul{
    list-style: none;
    padding: 10px;
}

.related-articles a{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(167, 167, 167);
    text-decoration: none;
}

.related-articles ul li img{
    float: left;
    width: 10%;
}

.related-articles a:hover{
    background-color: rgb(226, 226, 226);
}

.related-article-title{
    text-transform: uppercase;
}

/* Comments */

.comments-container{
    width: 100%;
    margin-left: 0%;
    margin-right: 0;
    background-color: black;
    color: white;
}

#mainComment{
    width: 90%;
    padding-bottom: 60px;
    margin: 5px 5% 5px 5%;
    padding-left: 5px;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 2px;
}

.comments-form-div{
    padding-bottom: 15px;
    height: 220px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.submit-comment{
    display: block;
    margin-top: 0px;
    float: right;
    margin-right: 0%;
    padding: 5px 10px 5px 10px;
    font-family: 'Bungee Inline', cursive;
    border-radius: 0px;
    border: 0;
    background-color: white;
    width: 100%;
}

.comment-title-section{
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Bungee Inline', cursive;
}

.chat-comment{
    color: black;
    background-color: white;
}

.chat-comment .count-comment{
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.chat-comment .userComments .comment{
    padding-top: 15px;
    padding-bottom: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1.2px solid grey;
   }

.userComment{
    width: 95%;
    word-wrap: break-word;
}

.user{
    display: inline-block;
    font-family: 'Rajdhani', sans-serif;
}

.comment .remove-comment{
    display: inline-block;
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
    padding-left: 10px;
}

.comment .remove-comment button{
    background-color: white;
    border: 0;
    border-left: 1.2px solid grey;
}

.comment .remove-comment button:hover{
    background-color: rgb(240, 240, 240);
}
}