html{
    scroll-behavior: smooth;
}

body{
    background-color: #f2f2f2;
}

.container-fluid{
    padding: 0;
}
@media only screen and (min-width: 1200px) {
nav{
    background-color: black;
    
}

nav a{
    color: white;
    font-family: 'Bungee Inline', cursive;
    transition: 0.4s;
}

nav .navbar-brand{
    font-size: 32px;
}

nav a:hover{
    color: rgb(170, 170, 170);
}

/******* SEARCH ENGINE  *********/
.search-engine{
    float: right;
    margin-top: -36px;
    margin-right: 35px;
}

.search-engine-form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search-engine-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-engine-form:hover{
    width: 250px;
    cursor: pointer;
}

.search-engine-form:hover input{
    display: block;
}

.search-engine-form:hover .fa{
    background: #07051a;
    color: white;
}
/* ************************ */

/************* CAROUSEL IMAGE & TEXT *****************/
.slide-show .carousel-item img{
    height: 400px;
}

.slide-show{
    float: left;
    display: inline-block;
    margin-left: 6.4%;
    margin-top: 30px;
    width: 49%;
}

.carousel-text-information{
    display: inline-block;
    margin-top: 15px; 
    margin-right: 4%; /* -85px margin right to get to the right as much as possible */
    background-color: white;
    width: 39%;
    height: 400px;
}

.carousel-text-information h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 120px;
    font-size: 15px;
    text-transform: uppercase;
}

.carousel-text-information h3 span{
    color: #c4a078;
}

.carousel-text-information h2{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.carousel-text-information p{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

/******* LISTS UNDER CAROUSEL **********/

.lists-of-news{
    border: 2px solid black;
}

.image-boxes{
    display: flex;
    clear: both;
    list-style: none;
    padding: 0px;
    margin: 0;
    /* border: 2px solid black; */
}

.image-boxes > a {
    /* border: 2px solid red; */
    padding: 0px; 
    width: 23%;
    margin: 30px 1% 10px 1%;
    background-color: white;

} 

.image-boxes > a > li > img{
    width: 100%;
}

.image-boxes > a > li > h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: #c4a078;
    text-align: center;
}

.image-boxes > a > li > p{
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 15px;
    width: 94%;
    padding: 0 10% 1% 10%;
}

a{
    color: black;
}

a:hover{
    color: grey;
}

/* TREND SONGS */

.trending-songs{
    background-color: white;
}

.trend-title{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 25px;
}

.trending-songs ul{
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 30px;
    padding-bottom: 20px;
}

.trending-songs ul li{
    list-style: none;
    margin-top: 20px;
    box-shadow: grey 0px 0.5px 1.5px;
}

.trending-songs ul img{
    width: 18%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.trending-songs ul li p{
    display: inline-block;
    width: 78%;
    height: 100%;
    padding-left: 3%;
    padding-right: 0%;
}

.trending-songs ul .trend-artist{
    color: #c4a078;
    float: right;
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    margin-top: 15px;
}

.trending-songs ul .trend-song-title{
    font-size: 25px;
    float: left;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.trend-song-content{
    float: left;
}

/* Interviews */
.slide-show .carousel-item img{
    height: 400px;
}

.slide-show-interview{
    float: right;
    display: inline-block;
    margin-right: 5.6%;
    margin-top: 15px;
    width: 49%;
    margin-left: 0%;
}

.carousel-text-information-interview{
    float: left;
    display: inline-block;
    margin-top: 15px; 
    margin-right: 0%;
    margin-left: 6.4%; /* -85px margin right to get to the right as much as possible */
    background-color: white;
    width: 39%;
    height: 400px;
}

.carousel-text-information h3{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 120px;
    font-size: 15px;
    text-transform: uppercase;
}

.carousel-text-information h3 span{
    color: #c4a078;
}

.carousel-text-information h2{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.carousel-text-information p{
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

/* MUSIC CHART */
.artists-music{
    float: left;
    width: 88%;
    /* border: 2px solid black; */
    margin-top: 50px;
    margin-left: 6.4%;
}

.artists-music .list-music{
    list-style: none;
    padding-left: 0%;
    text-align: center;
    margin-bottom: 0;

}

.artists-music li{
    display: inline-block;
    width: 270px;
    margin-right: 0.435%;
}

.artists-music li:nth-child(4n){
    margin-right: 0;
}

.artists-music .chart-items{
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52) 44%, rgba(117, 19, 93, 0.77)),
    url('../popsmoke.png'); /* BYT BILD HÄR OCH TEXT I HTML FÖR SEKTIONEN "MUSIK" */
    width: 100%;
    height: 270px;
    background-size: cover;
    color: white;
    position: relative;
}

.artists-music .chart-items h2{
    position: absolute;
    bottom: 0;
    left: 10px;
    /* border-left: 2px solid black; */
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 5px;

    background: linear-gradient(to right, black -80%, rgba(255,0,0,0));
    background-size: 200% 100%;
    background-position:right bottom;
    margin-left:10px;
    /* transition:all .6s ease; */
}

/* .artists-music .chart-items h2:hover{
    background-position:left bottom;
} */

}
